:host {
    --solid-ui-input-border-color: var(--solid-ui-color-gray-400);

    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    label {
        color: var(--solid-ui-color-gray-600);
        font-size: var(--solid-ui-font-size-sm);
        font-weight: 400;
    }

    .input-wrapper {
        position: relative;
        width: 100%;

        ::slotted([slot="left-icon"]) {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            width: var(--solid-ui-font-size-md);
            height: var(--solid-ui-font-size-md);
            pointer-events: none;
            color: var(--solid-ui-color-gray-500);
            stroke-width: 0.2px;
        }

        input {
            border: 1px solid var(--solid-ui-input-border-color);
            border-radius: 5px;
            padding: 10px;
            width: 100%;
            background: white;
            color: var(--solid-ui-color-gray-700);
            font-size: inherit;
        }

        input:read-only {
            border: none;
            padding: 0;
            cursor: not-allowed;
        }
    }
}

:host([data-has-left-icon]) .input-wrapper input {
    padding-left: 32px;
}
