:root {
  --header-bg: white;
  --header-line-color: #5e546d;
  --header-border: #efecf3;
  --header-hover-bg: #e6dcff;
  --header-menu-gradient: linear-gradient(to right, #7C4DFF 0%, #18A9E6 50%, #01C9EA 100%);
  --header-border-radius: 0.3em;
  --header-text-color: black;
}

/* header */
.headerBanner {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
}

/* Solid logo */
.headerBannerLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerBannerIcon {
  background-size: 55px 50px;
  height: 50px;
  width: 55px;
}

.headerUserMenuLink,
.headerUserMenuButton {
  background: none;
  border: 0;
  cursor: pointer;
  display: block;
  text-align: left;
  padding: 0.6em;
  width: 100%;
  text-decoration: none;
  color: var(--header-text-color);
}

.headerUserMenuLink:hover,
.headerUserMenuLinkHover,
.headerUserMenuButton:hover,
.headerUserMenuButtonHover {
  background-color: var(--header-hover-bg);
  border-radius: var(--header-border-radius);
}

.headerUserMenuTrigger {
  background: none;
  border: 0;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.headerUserMenuTriggerImg {
  border-radius: 50%;
  height: 56px;
  width: 28px !important;
}

.headerUserMenuList {
  list-style: none;
  margin: 0;
  padding: 0.2em;
}

.headerUserMenuNavigationMenu,
.headerUserMenuNavigationMenuNotDisplayed {
  background: var(--header-bg);
  border: solid 1px var(--header-border);
  border-radius: var(--header-border-radius);
  box-shadow: 2px 6px 10px 0 rgba(0, 0, 0, 0.4), 2px 8px 24px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  right: 0;
  top: 60px;
  width: 200px;
  z-index: 1;
  display: block;
}

.headerUserMenuNavigationMenuNotDisplayed {
  display: none;
}

.headerUserMenuPhoto {
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
}

.headerBannerRightMenu {
  display: flex;
}

.headerButtonsDiv {
  margin-left: auto;
}

.allChildrenVisible {
  display: block;
}

.headerBannerUserMenu,
.headerBannerHelpMenu,
.headerBannerUserMenuNotDisplayed {
  margin-left: auto;
}

.headerVerticalHr {
  color: var(--header-line-color);
  margin-left: 1.3em;
}

.headerBannerUserMenuNotDisplayed {
  display: none;
}
