@import 'tailwindcss/preflight.css';

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    gap: 5px;
    background: var(--solid-color-primary);
    color: var(--solid-color-primary-foreground);

    &:hover {
        background: var(--solid-color-primary-hover);
        border-color: var(--solid-color-primary-hover);
    }
}
