@import '../../styles/common.styles.css';

button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    color: var(--solid-ui-color-gray-600);
    font-weight: 500;
    font-size: var(--solid-ui-font-size-md);

    &:hover {
        background-color: var(--solid-ui-color-slate-200);
    }

    ::slotted([slot="left-icon"]), ::slotted([slot="right-icon"]) {
        width: var(--solid-ui-font-size-xl);
        height: var(--solid-ui-font-size-xl);
    }
}
