@import "../../styles/common.styles.css";

dialog {
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.35);
  min-width: 343px;

  solid-ui-dialog-header {
    button {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      position: relative;

      icon-lucide-x {
        width: 22px;
        height: 22px;
        color: var(--solid-ui-color-gray-600);
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: var(--solid-ui-clickable-area);
        height: var(--solid-ui-clickable-area);
      }

      &:hover {
        background: rgba(0, 0, 0, 0.04);
      }
    }
  }
}

dialog:not([open]) {
  display: none;
}
