:host {
  display: block;
  width: 100%;
  min-width: 0;

  .file-explorer-provider {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }

  slot.pane {
    display: block;
    flex: 1 1 auto;
    width: 100%;
    min-width: 0;
    overflow: auto;
  }
}